    html {
        scroll-behavior: smooth;
        overflow-x: hidden;
        box-sizing: border-box;
    }
    
    body {
        background-color: #000000;
        font-family: 'Poppins', sans-serif;
        color: white;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: Poppins, Arial, sans-serif;
        font-weight: 700;
        line-height: 1.4em;
        color: #fff;
    }
    
    #home {
        height: 100vh;
    }
    
    #about {
        background-color: #242233;
        height: 100vh;
    }
    
    #education {
        background-color: #3b3939;
        height: 100vh;
    }
    
    #projects {
        background-color: #2a4444;
        height: 100vh;
    }
    
    #contact {
        height: 100vh;
        background-color: #312a2a;
    }
    
    p {
        color: lightgray;
    }
    
    .bounce-3 img {
        border-radius: 50%;
        -webkit-animation: bounce-3 1.2s ease-out;
        -moz-animation: bounce-3 800ms ease-out;
        -o-animation: bounce-3 800ms ease-out;
        animation: bounce-3 1.2s ease-out;
    }
    
    .icon i {
        margin-left: 5%;
    }
    
    .icon a {
        text-decoration: gray;
        color: lightgray;
        font-size: x-large;
    }
    
    .icon a:hover {
        text-decoration: gray;
        color: orange;
    }
    
    .nav-link:hover {
        color: orange !important;
    }
    
    .icon {
        padding-top: 10%;
    }
    
    @keyframes bounce-3 {
        0% {
            transform: translateY(-100%);
            opacity: 0;
        }
        5% {
            transform: translateY(-50%);
            opacity: 0;
        }
        15% {
            transform: translateY(0);
            padding-bottom: 5px;
        }
        30% {
            transform: translateY(-50%);
        }
        40% {
            transform: translateY(0%);
            padding-bottom: 6px;
        }
        50% {
            transform: translateY(-30%);
        }
        70% {
            transform: translateY(0%);
            padding-bottom: 7px;
        }
        80% {
            transform: translateY(-15%);
        }
        90% {
            transform: translateY(0%);
            padding-bottom: 8px;
        }
        95% {
            transform: translateY(-7%);
        }
        97% {
            transform: translateY(0%);
            padding-bottom: 9px;
        }
        99% {
            transform: translateY(-3%);
        }
        100% {
            transform: translateY(0);
            padding-bottom: 9px;
            opacity: 1;
        }
    }
    
    .form-group {
        width: 200px;
        height: 600px;
    }
